@mixin bg-img-resp {
   @media (min-width: 1000px) and (max-width: 1700px) {
      background-size: 50% auto;
    }
    @include media-breakpoint-down(sm) {
      background-image: none !important;
    }
}