#footer {
  background-color: $dark-blue;
  padding: 20px 0 30px;
  color: $white;
  a {
    color: $white;
  }
  strong {
    display: block;
  }
  ul {
    padding-left: 0;
  }
  .footer-contact {
    background-color: $white;
    color: $dark-blue;
    margin-top:20px;
    padding: 10px;
    span, a {
      font-family: $open-sans;
      display: inline-block;
      margin-right:20px;
      padding-left:30px;
      background-position: left center;
      background-repeat: no-repeat;
      &.address {
        background-image: url("../images/icon-house-footer.png");
        background-size: 20px;
      }
      &.phone {
        background-image: url("../images/icon-phone-footer.png");
        background-size: 20px;
        padding-left: 30px;
      }
      &.email {
        background-image: url("../images/icon-envelope-footer.png");
        background-size: 22px;
        padding-left: 32px;
      }
      &.facebook {
        background-image: url("../images/icon-fb-footer.png");
        margin-right: 0;
        background-position: right center;
      }
    }
  }
}
#footerCarousel {
  padding: 1rem 50px;
  background-color: $white;
  .slick-track {
    display: flex;
    justify-content: center;
  }
  .slick-slide {
    outline: none;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 60px;
    }
  }
  .slick-prev {
    left: 25px;
    background-image: url("../images/icon-arrow-prev.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    &::before {
      content:"";
    }
  }
  .slick-next {
    right: 25px;
    background-image: url("../images/icon-arrow-next.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    &::before {
      content:"";
    }
  }
}
.sub-footer {
  span {
    font-size: 0.8rem;
  }
}
.sticky-footer {
  background-color: $white;
  border-radius: 10px;
  position: fixed;
  top: auto;
  left: 20px;
  bottom: 20px;
  & > div {
    padding: 10px;
  }
  a.facebook {
    height: 24px;
    width: 24px;
    display: block;
    margin-top: 4px;
    background-repeat: no-repeat;
    background-image: url("../images/icon-fb-footer.png");
    background-position: center;
  }
  .yellow-bg {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffed00;
  }
}