//logo
.nav-container {
   @include media-breakpoint-down(md) {
    background-color: $dark-blue;
    padding-bottom: 8px;
    padding-top: 18px;
    position: relative;
    #hNavbar {
      position: static;
    }
    a.brand, .navbar-toggler {
      padding-top: 18px;
    }
   }
  padding-top: 1em;
  .brand {
    color: #000;
    z-index: 2;
    @include media-breakpoint-down(md) {
      max-width: 100px;
      img {
        max-width: 100px;
      }
    }
  }
  .navbar-toggler  {
     margin-left: auto;
     margin-right: 25px;
     opacity: 1 !important;
     &:focus {
       outline: 0;
     }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: $white;
    }
    .hamburger-inner::before {
       top: -8px;
    }
    .hamburger-inner::after {
       bottom: -8px;
    }
    .hamburger-box {
      width: 30px;;
    }
    &.is-active {
      .hamburger-inner::after {
        bottom: 0px;
      }
    }
  }
  #headerNav {
    padding: 0.5em 0;
    background-color: $dark-blue;
    margin-bottom: 15px;
  }
  .info-bar  {
    .red-bg {
      background-color: $c-red;
      padding: 5px 0;
      border-radius: 4px;
      margin-left: 10px;
      font-weight: 400;
    }
    a {
      height: 28px;
      line-height: 28px;
      display: inline-block;
      margin: 0 10px;
      color: $white;
      position: relative;
      padding-left: 35px;
      font-weight: 600;
      &.contact-link {
        &::before {
          content:'';
          position: absolute;
          display: block;
          width: 28px;
          height: 28px;
          border-radius: 25px;
          left:0;
          top:0;
          background-size: 18px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &.phone {
        &::before {
          background-image: url("../../assets/images/icon-phone-header.png");
        }
      }
      &.email {
        &::before {
          background-image: url("../../assets/images/icon-envelope-header.png");
        }
      }
      &.offerte {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 30px;
        color: $link-blue;
         &::before {
          background-color: transparent;
          background-image: url("../../assets/images/icon-document-blue.svg");
          background-size: 13px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top:0;
      right: 0;
      background-color: $c-red;
      width: 100%;
      .offerte {
        display: none;
      }
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  padding: 0.5rem 0.6rem;
  color: $white;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  &.facebook {
    text-indent: -9999px;
    background-image: url("../../assets/images/icon-facebook-white.svg");
    background-size: 22px;
    background-position: center;
    margin: 0 1rem 0 0.6rem ;
  }
}
.mobileSlogan {
  color: $white;
  font-size: 0.8rem;
  width: 190px;
  padding-top: 9%;
}
.mobileOfferte {
  padding-left: 30px;
  color: $link-blue;
  position: relative;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top:6px;
    left:10px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("../../assets/images/icon-document-blue.svg");
    background-size: 13px;
  }
}
