.homeh-wrap {
  .shape {
    top: -16px;
    background: url("../../assets/images/home/home-header-shadow.svg"),
                      url("../../assets/images/home/couple-packages-big-6.png"),
                      linear-gradient(90deg, rgba(225,222,219,1) 0%, rgba(241,237,235,1) 100%);
    background-repeat: no-repeat;
    background-size:auto, 1110px auto;
    background-position: bottom, center top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 90%, 0 45%);
    min-height: 600px;
    @include media-breakpoint-down(md) {
      background: linear-gradient(90deg, rgba(225,222,219,1) 0%, rgba(241,237,235,1) 100%) !important;
      min-height: 460px;
      top:0;
    }
    position: relative;
    & > .container {
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }
   }
  }
  h1 {
    font-size: 1.6rem;
    font-weight: 300;
     @include media-breakpoint-down(md) {
      font-size: 1.5rem;
     }
  }
  .calculator {
    position: relative;
    overflow: visible;
    &::after {
      content:"";
      position: absolute;
      display: block;
      width:37px;
      height: 60px;
      top:-36%;
      left:110%;
      background-image: url("../../assets/images/curved-arrow-bellow-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
    }
  }
  .h-boxes {
    margin-top: -25%;
    @include media-breakpoint-down(md) {
      margin-top:0;
    }
    .box {
      filter: $f-drop-shadow;
      background-color: $white;
      border-radius: 10px;
      @include media-breakpoint-down(sm) {
        margin-top: ($spacer * 2) !important;
        margin-bottom: ($spacer * 2) !important;
      }
      .box-title {
        font-size: 1.15rem;
      }
      p {
        font-size: 0.9rem;
      }
      .icon {
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      &.move {
        i {
          background-image: url("../../assets/images/home/icon-move.svg");
        }
      }
      &.furniture {
        i {
          background-image: url("../../assets/images/home/icon-furniture.svg");
        }
      }
      &.lift {
        i {
          background-image: url("../../assets/images/home/icon-liftservice.svg");
        }
      }
      .btn {
        font-size: 0.9rem;
        color: #0f4392;
      }
      .footer_text {
        margin-top: 2rem;
        font-style: italic;
        color: $dark-blue;
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.home-header {
  padding: 5%;
  color: $dark-blue;

  span.font-cav {
    font-size: 1.8rem;
  }
}
/** sections */
.section {
  &.statistics {
    position: relative;
    padding-bottom: 15%;
    color: $white;
    &::before {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      left:0;
      z-index: -1;
      background-color: $dark-blue;
      content:'';
      @include media-breakpoint-up(md) {
        height: calc(100% + 200px);
        clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0% 100%);
        top:-200px;
      }
    }
    .icon {
      max-width: 40px;
      padding: 30px;
      margin: 0 auto 10px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .move-year {
      .icon {
        background-image: url("../../assets/images/home/icon-move-year.svg");
      }
    }
    .move-intern {
      .icon {
        background-image: url("../../assets/images/home/icon-move-intern.svg");
      }
    }
    .move-days {
      .icon {
        background-image: url("../../assets/images/home/icon-move-days.svg");
      }
    }
    h3 {
      font-weight: 300;
      font-size: 1rem;
      @include media-breakpoint-down(md) {
        font-size: 0.7rem;
      }
      &.section-title {
        color: $white;
        font-size: 1.5rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;  
      }
      span {
        display: block;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 10px;
        @include media-breakpoint-down(md) {
         font-size: 1rem;
        }
      }
    }
  }
  &.benefits {
    @include media-breakpoint-up(md) {
      margin-top: -100px;
    }
    position: relative;
    .shape {
      @include media-breakpoint-up(md) {
        position: absolute;
        top:10%;
        left:50%;
        width: 50%;
        height: 140%;
        background-image: url("../../assets/images/home/bennefits-bg-shape.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
      }
      //clip-path: polygon(0 0, 100% 0, 100% 52%, 31% 69%, 0 45%);
      //clip-path: inset(45% 0% 33% 10% round 30px);
    }
    .truck {
      margin-top: 50px;
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin-top: -60px;
        margin-bottom: 0;
      }
    }
    h2 {
      color: $dark-blue;
      font-size: 1.50rem;
    }
    ul {
      padding-left:0;
      li {
        padding-left: 18px;
        position: relative;
        line-height: 1.4rem;
        &::before {
          content:">";
          color: red;
          position: absolute;
          left:0;
          top:0;
          display: block;
          font-weight: bold;
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
  }
  &.testimonials {
    h2 {
      color: $dark-blue;
      font-size: 1.50rem;
    }
    blockquote {
      background-color: $white;
      border-radius: 6px;
      filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
      max-width: 320px;
      margin: 30px 10px 50px;
      p {
        font-size: 0.8rem;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 10px solid $white;
        margin: -65px auto 0;
      }
    }
    .author {
      color: $dark-blue;
      font-size: 1rem;
      font-style: normal; 
    }
    .source {
      font-size: 0.8rem;
      color: $red;
    }
    .stars {
      height: 24px;
      background-image: url("../../assets/images/home/star.png");
      margin: 5px auto;
      width: 140px;
      background-repeat: repeat-x;
    }
    .four {
      width: 112px;
    } 
    .four-half {
      width: 126px;
    } 
  }
}
#curveUp {
  display: none;
  max-width: 100%;
  filter: $f-drop-shadow;
  border: none !important;
}