body {
  &.template-verhuizingen, &.template-meubelbewaring, &.template-bedrijfsverhuis {
    background-image: url("../../assets/images/verhuizingen/body-bg-image.jpg");
    background-position: left top;
  }
  &.template-liftservice {
    background-image: url("../../assets/images/liftservice/body-bg-image.jpg");
    background-position: left top;
  }
  @include bg-img-resp;
}
body.home {
  .nav-container {
    @include media-breakpoint-up(md) { 
      background: rgb(225,222,219);
      background: linear-gradient(90deg, rgba(225,222,219,1) 0%, rgba(241,237,235,1) 100%);
    }
  }
}
body.template-verhuizingen {
  .intro {
    ul {
      li {
        padding-left: 25px;
        background-image: url("../../assets/images/verhuizingen/icon-red-check.png");
        background-position: left 5px;
        background-size: 15px;
      }
    }
  }
  .tips {
    .tip-title {
      padding-left: 34px;
      margin-top: 2rem;
      background-image: url("../../assets/images/checkmark-red.png");
      background-size: 24px;
      font-size: 1.4rem;
    }
  }
}
body.template-verpakkingen {
  background-image: url("../../assets/images/verpakkingen/body-bg.jpg");
  background-position: right top;
  .intro {
    li {
      padding-left: 25px;
        background-image: url("../../assets/images/verhuizingen/icon-red-check.png");
        background-position: left 5px;
        background-size: 15px;
    }
  } 
}
body.template-meubelbewaring, body.template-bedrijfsverhuis {
  .intro {
    li {
      padding-left: 25px;
      background-image: url("../../assets/images/verhuizingen/icon-red-check.png");
      background-position: left 5px;
      background-size: 15px;
    }
  }
}
.trans-intern {
  img.map {
    width: 100%;
    height: 100%;
  }
}
#cfaLimbug {
  border-radius: 8px;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.3));
  background-image: none;
}
#introLiftservice {
  li {
    padding-left: 18px;
    position: relative;
    line-height: 1.4rem;
    &::before {
      content:">";
      color: red;
      position: absolute;
      left:0;
      top:0;
      display: block;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
  }
  .btn-dblue {
    background-image: url("../../assets/images/liftservice/icon-phone-contact.png");
    background-size: 20px auto;
    background-position: 15px center;
  }
}
/** contact page */
.contact {
  label {
    display: block; 
  }
  .section-title {
    font-size: 1.5rem;
  }
  input[type="text"], input[type="email"], textarea, select {
    padding: 1.4rem;
    border-radius: 0.4rem;
    box-shadow:inset 2px 2px 4px 0 rgba(0,0,0,0.1);
  }
  select {
    text-indent: 1rem;
    padding:10px;
    appearance: none;
    height: 48px;
  }
  input[type="submit"] {
    display: inline-block;
    width:calc(80% - 16px);
    margin-left:16px;
    border:8px solid $white;
    border-radius: 0.8rem;
    margin-bottom: -20px;
    background-image:url("../../assets/images/icon-send-envelope.png");
    background-position: 10% center;
    background-size: 60px auto;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.2rem;
    color: $dark-blue;
    @include media-breakpoint-down(md) {
      font-size: 1rem;
      margin-bottom: -45px;
    }
  }
  .location-details {
    span {
      padding-left: 32px;
      background-position: left center;
      margin-bottom: 0.6rem;
      font-weight: 600;
      &.location {
        background-image:url("../../assets/images/icon-contact-pin.png");
        background-size: 16px;
      }
      &.phone {
        background-image:url("../../assets/images/icon-24h.png");
        background-size: 20px;
      }
       &.email {
        background-image:url("../../assets/images/icon-contact-envelope-red.png");
        background-size: 20px;
      }
    }
  }
  div.form {
    background-color: $white;
    border-radius: 10px;
    padding: 2.5rem 2.5rem 0;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
  input[type='submit'] {
    background-image: url("../../assets/images/icon-document-blue.svg");
    background-size: 26px auto;
    background-position: 20px center;
  }
}
.news {
  a {
    color: $dark-blue;
  }
  .entry-summary {
    img {
      border-radius: 6px;
    }
  }
}
.calculator-wrap {
  .btn {
    font-weight: 400;
    line-height: 180%;
    border-radius: 0.6rem;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0.5rem 1rem;
    border: 3px solid $c-red;
    &.btn-white {
      border: 3px solid $dark-blue;
    }
    &.btn-yellow {
      border: none;
      margin-bottom: 3.5rem;
    }
  }
  .boxes {
    .box {
      background-color: $white;
      border-radius: 0.8rem;
      padding: 1rem 1rem 0;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
      margin-bottom: 1.5rem;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover, &.clicked {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
        box-shadow: inset 0px 0px 0px 4px transparentize($dark-blue, .01);
      } 
      p.c-red {
        color: $c-red;
      }
      p.bottom {
        background-color: $dark-blue;
        color: $white;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 1rem 0;
        border-bottom-right-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
      }
      > div.d-flex {
        max-width: 680px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    &.calculator-custom {
      .box {
        cursor: default;
        &:hover {
          filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3)) !important;
          box-shadow: none;
        }
        .select > .item {
          cursor: pointer;
          &.clicked {
            box-sizing: border-box;
            box-shadow: inset 0px 0px 0px 4px transparentize($dark-blue, .01);
            &:hover {
              box-shadow: inset 0px 0px 0px 4px transparentize($dark-blue, .01);
            }
          }
          &:hover {
            box-shadow:0px 0px 3px rgba(0, 0, 0, 0.3);
          }
          &.notc {
            img {
              opacity: 0.3;
            }
            &:hover {
              img {
                opacity: 1;
              }
            }
          }
          .bottom {
            font-size: 0.8rem;
            border-bottom-right-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            padding: 0.5rem 0;
            margin-top: 1rem;
          }
        }
      }
    }
    .number {
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: $c-red;
      color: $white;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 60px;
      margin: -50px auto 0 auto;
      border: 10px solid $white;
    }
    .item {
      padding: 1rem;
      border: 1px solid #d7d7d7;
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }
  }
}
/** referenties */
.referenties {
  .box {
    border-radius: 10px;
    background-color: $white;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
    @include media-breakpoint-down(md) {
      margin-top:15px;
      margin-bottom: 15px;
    }
  }
  a {
    color: inherit;
  }
  .img-wrap {
    max-height: 194px;
    overflow: hidden;
    border-radius: 6px;
  }
  .box-title {
    font-size: 1rem;
    font-weight: 600;
  }
  p {
    font-size: 0.9rem;
  }
}
a.w-color {
  color: $white;
  font-weight: 300;
  &:hover {
    color: $white;
    text-decoration: underline;
  }
}
.extra-text {
  &.blue-color, a {
    color: $dark-blue;
  }
  a {
    text-decoration: underline;
  }
}
.section-subtitle-h3 {
  font-size: 1rem;
  font-weight: bold;
}