@import url(https://fonts.googleapis.com/css?family=Caveat:400,700|Montserrat:300,400,400i,500,600&display=swap);

// Font Variables
$montserrat-slab: "Montserrat", sans-serif;
$open-sans: "Open Sans", sans-serif;

body {
  font-family: $montserrat-slab;
  background-color: #eeeeee;
  font-size: 16px;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}
* { 
    background-repeat: no-repeat;
}

/** text styling */
p, span, small, dt, dl {
  font-family: $open-sans;
  font-size: 1rem;
}
h3, .h3 {
  font-size:1.50rem;
}
ul, ol {
  font-family: $open-sans;
  font-size: 0.9rem;
  list-style: none;
  padding-left: 1rem;
}
.font-cav {
  font-family: "Caveat", cursive;
}

.text-upper {
  text-transform: uppercase;
}

.bg-dblue {
  background-color: $dark-blue;
}
.section-title {
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.section-subtitle {
  color: $dark-blue;
  font-size: 1.2rem;
}
ul {
  padding-left: 0;
  li {
    line-height: 180%;
  }
}
/** links and buttons */
.btn {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 600;
  @include media-breakpoint-down(md) {
    font-size: 0.8rem;
  }
  &::after {
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: -100%;
    transition: left 300ms linear;
    z-index: -1;
    background-color:rgba(255,255,255,0.2);
  }
  &:hover {
    &::after {
      left:0;
    }
  }
  &.btn-red {
    background-color: $c-red;
    color: $white;
    font-weight: 600;
  }
  &.btn-yellow {
    background-color: $c-yellow;
  }
  &.btn-dblue {
    background-color: $dark-blue;
    color: $white;
  }
  &.calculator {
    padding-left:40px;
    &.btn-red {
      background-image: url("../../assets/images/icon-calculator-white.svg");
      background-size: 14px auto;
      &.doc {
        background-image: url("../../assets/images/icon-document-white.svg");
        background-size: 18px auto;
      }
    }
    &.btn-yellow {
      background-image: url("../../assets/images/icon-calculator.svg");
      background-size: 38px auto;
      background-position: 5px center;
      &.doc {
        background-image: url("../../assets/images/icon-document-blue.svg");
        background-size: 18px auto;
      }
      &.box {
        background-image: url("../../assets/images/icon-box-blue.png");
        background-position: 15px center;
      }
    }
    &.btn-dblue {
      background-image: url("../../assets/images/icon-calculator-white.svg");
      background-size: 14px auto;
    }
    &.box {
      background-image: url("../../assets/images/icon-box.png");
      background-size: 22px auto;
    }
    background-position: 15px center;
    background-repeat: no-repeat;
    line-height: 30px;
  }
}
/** custom negative margin */
.mt-m5 {
  @include media-breakpoint-up(md) {
    margin-top: -3rem !important;
  }
}

/** effects */
$f-drop-shadow: drop-shadow(0px 0px 8px rgba(0,0,0,0.5));

/** width */
.w-90 {
  width: 90%;
  @include media-breakpoint-down(md) {
    width:100%;
  }
}
.w-80 {
  width: 80%;
  @include media-breakpoint-down(md) {
    width:100%;
  }
}